<form class="add-customer-form" name="add-customer-form">
  <h2>Add new customer</h2>
  <div>
    <mat-form-field class="customer-form-field">
      <input matInput placeholder="First name"
             [(ngModel)]="customer.name.first"
             name="first">

    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="customer-form-field">
      <input matInput placeholder="Last name"
             [(ngModel)]="customer.name.last"
             name="last">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker"
             placeholder="Birthday date"
             name="birthday"
             [(ngModel)]="customer.birthday">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select [(value)]="customer.gender" [(ngModel)]="customer.gender" name="gender">
        <mat-option value="m">Male</mat-option>
        <mat-option value="f">Female</mat-option>
        <mat-option value="o">Other</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="customer-form-field">
      <input matInput placeholder="Lifetime Value"
             [(ngModel)]="customer.customerLifetimeValue"
             name="customerLifetimeValue">
    </mat-form-field>
  </div>
  <button mat-raised-button (click)="save()" class="form-btn" color="primary">Save</button>
  <button mat-raised-button (click)="goBack()" class="form-btn">Return</button>
</form>
